################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BIN/WIDESTR.TPU
/BIN/UTILS.TPU
/BIN/SVGADRV.TPU
/BIN/STREAMS.TPU
/BIN/OBJECTS.TPU
/BIN/MOUSE.TPU
/BIN/MEMDRV.TPU
/BIN/KEYDRV.TPU
/BIN/GRAPHINI.TPU
/BIN/GRAPHDRV.TPU
/BIN/GLOBALS.TPU
/BIN/DRAWING.TPU
/BIN/DRAWAPP.TPU
/BIN/DOSCONST.TPU
/BIN/DATETIME.TPU
/BIN/CONTROLS.TPU
/BIN/CONSTS.TPU
/BIN/AVDRAW.MAP
/BIN/AVDRAW.EXE
/BIN/APPS.TPU
/XMSDEBUG.BIN
/BP.TP
/BP.PSM
/BP.DSK
